* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
}

/*NAVIGATION*/

#navbar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    width: 100%;
    background-color: white;
}

.main-nav {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap:5rem;
    padding:1rem;
}

.main-nav a:hover {
    border-bottom: 4px solid darkcyan;
}

.main-nav a {
    color: darkcyan;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .main-nav a {
    font-size: 0.8rem;           
    }
}

/*WELCOME*/

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(https://images.unsplash.com/photo-1551893476-7d5023fef9dc?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

#welcome-section h1 {
    font-size: 5rem;
    font-weight: lighter;
    color: darkcyan;
    background-color: white;
    padding: 0.2rem;
    border-top: 2px inset darkcyan;
}

#welcome-section h2 {
    background-color: white;
    color: darkcyan;
    padding: 0.2rem;
    border-bottom: 2px inset darkcyan;
}

/*BLOCK*/

#block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.personal {
    text-align: justify;
    padding:3rem;
    width: 30%;
}

/*PROJECTS*/

#projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70vh;
    background-image: url(https://images.unsplash.com/photo-1534113752484-3f9de976b500?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

.project-tile {
    padding:3rem;
    border-top-left-radius: 40px;
    border-left: 4px solid black;
}

@media only screen and (max-width: 600px) {
    .project-tile {
        margin-left: 5px;
    }
}

.project-tile h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: lighter;
}

.project-tile ul {
    font-size: 1rem;
    list-style: square;
}

.project-tile li {
    margin: 2rem;
}

.project-tile a {
text-decoration: none;
color: black;
}

.project-tile a:hover {
    background-color: darkcyan;
    color: white;
}

/*FOOTER*/

footer {
    width: 100%;
    text-align: center;
    margin: 1rem auto;
    font-size: 1.2rem;
}

@media only screen and (max-width: 600px) {
    footer {
    font-size: 0.8rem;           
    }
}
